
html { 
  font-size: 2vw; 
}

body{
  -ms-text-size-adjust: auto;
  -webkit-text-size-adjust:auto;
  -ms-text-size-adjust: auto;
  width:100%;
  height:auto;
}
.container-fluid{
  padding:0em,10em;
}



h2{
  color: #FFF8F0;
  padding-left: .25em;
  font-style: bold;
}

#menu{
  background-color: #08090A;
  position: fixed;
  top:0;
  left:0;
  height: auto;
  width: 100%;
  padding-bottom:2em;
  color:#FFF8F0; 
  z-index: 10;
}
#menu a{
  font-size: 2em;
}

#menu .btn{
  position: static;;
  margin-left: 2rem;
  margin-top: 1.5em;
}

.btn-navi{
  background-color:#08090A;
  border: none;
  color: white;
  font-size: 2em;
}

.btn-navi:hover{
  background-color:white;
  color: black;
}

#about {
  padding-top:12em;
  display: flex; display: -webkit-flex;
  flex-direction: row; -webkit-flex-direction: row;
  flex-wrap: wrap; -webkit-flex-wrap: wrap;
  justify-content: center; -webkit-justify-content: center;
  width:100%;
  margin:0 auto;
}

#about_text{
  width: 100%;
  background-color:inherit;
  padding-left: 1rem;
  height: auto;
  color:#08090A;
  font-size: 1.5em;
  text-align: left;
  padding-right: 2.5em;
  font-family: 'Lato', sans-serif;
}

#about a{
  text-decoration: none;
  color:inherit;
}
#about a:hover{
  text-decoration: none;
  color:orange;
}



/* PORTFOLIO GRID */
.projects{
  display: flex; display: -webkit-flex;
  flex-direction: row; -webkit-flex-direction: row;
  flex-wrap: wrap; -webkit-flex-wrap: wrap;
  justify-content: center; -webkit-justify-content: center;
  width:100%;
  margin:0 auto;
}

.projects .item{
  background-size:cover;
  background-position:center center;
  min-height:250px;
  min-width:400px;
}
.projects .item a{
  text-decoration:none;
}
#wiki{
  background-image:url('https://image.ibb.co/kaNu3w/wikipediaviewer.png');  
}
#quote{
  background-image:url('https://image.ibb.co/mYewGG/quotegenerator.png');  
}
#weather{
  background-image:url('https://image.ibb.co/jfoZ3w/weatherapp.png');  
}
#twitch{
  background-image:url('https://image.ibb.co/fAwyVb/twitchviewer.png');  
}

.item-info{
  background:rgba(0,0,0,0.6);
  display: flex; display: -webkit-flex;
  flex-direction: column; -webkit-flex-direction: column;
  flex-wrap: wrap; -webkit-flex-wrap: wrap;
  justify-content: center; -webkit-justify-content: center;
  align-items: center; -webkit-align-items: center;
  min-width:400px;
  min-height:250px;
  max-width: 400px;
}

.item-info h2{
  font-weight:900;
  color:#ffffff;
}

.item-info span{
  color:#cfcfcf;
  font-family:Arial;
  font-style:italic;
  font-size:0.9em;
  padding-top:5px;
}

#artwork{
  position: relative;
  padding-top:80px;
  height:auto;
  width:auto;
  vertical-align:center;
}

.artwork{
  display: flex; display: -webkit-flex;
  flex-direction: row; -webkit-flex-direction: row;
  flex-wrap: wrap; -webkit-flex-wrap: wrap;
  justify-content: center; -webkit-justify-content: center;
  width:100%;
  margin:0 auto;
}

.partwork .item{
  background-size:cover;
  background-position:center center;
  min-height:400px;
  min-width:400px;
}

#contact{
  padding-top:80px;
  height:auto;
  width:auto;
}
.wrapper{
  padding-top: 80px;
  padding-bottom: 80px;
}


.contact-text{
  width: 50%;
  background-color:inherit;
  display:block;
  padding-left: 2%;
  height: auto;
  padding-right: 5px;
  color:#08090A;
  font-size: 1.5em;
  text-align: left;
  font-family: 'Lato', sans-serif;


}

#contact .social a{
  display: inline-flex;
  list-style: none;
  padding-right: 20px;
  color:black;
  font-size: 3em;
}

#contact .social a :hover{
border:solid;
border-color:black;
}

footer{
  padding-top: 30px;
  height:80px;
  width:100%;
  color: #FFF8F0;
  text-align: center;
  background-image: url("http://learn.jquery.com/jquery-wp-content/themes/jquery/images/bg-footer-noise.jpg");
}
